
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('discussion')">
</head>
<body>

<header th:replace="fragments/common :: header">
</header>

<br/>
<div class="text-end" style="margin-right: 50px">
    <a type="button" class="btn btn-secondary" th:href="@{/discussion/form}">post write</a>
</div>
<br/>
<div class="row mb-2" style="padding: 50px">
    <div class="col-md-6" th:each=" discussion : ${discussionAll}" style="width: 27em; height: 500px;">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <!--나중에 추가 로그인시-->
                <strong class="d-inline-block mb-2 text-primary" th:text="|UserId 매핑하자|">userId</strong>
                <!--여기까지-->
                <h3 class="mb-0" th:text="|subject: ${discussion.subject}|">subject</h3>
                <div style="height: 100px; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; text-overflow:ellipsis;" class="mb-1 text-muted" th:text="|content: ${discussion.content}|">content</div>
                <div th:if="${discussion.discussionMovie} != null">
                <div class="mb-1 text-muted" th:text="|movie-title: ${discussion.discussionMovie.movieTitle}|">movie-title</div>
                </div>
                <div class="mb-1 text-muted" th:text="|post-writing-time: ${discussion.createTime}|">post-create-date</div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/}">View</a>
                    </div>
                </div>
                <div th:if="${discussion.discussionMovie} != null">
                    <img src="#" alt="#" th:src="${discussion.discussionMovie.movieImage}" style="height: 150px; display: block; margin: auto;">
                </div>
            </div>


<!--            <div class="col-auto d-none d-lg-block" th:if="${discussion.discussionMovie.movieImage} != null">-->
<!--                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--                <img src="" alt="">-->
<!--            </div>-->
            <!--여기서부터가 문제다 !tblUserList.empty-->

<!--            <div th:if="${discussion.discussionMovie.movieImage}" class="align-items-end" style="padding: 10px">-->
<!--                <h1>우아아아아</h1>-->
<!--            </div>-->
<!--            <div th:if="${discussion.discussionMovie.movieImage} != null" class="col-auto d-none d-lg-block" style="padding: 50px">-->
<!--                <img th:src="${discussion.discussionMovie.movieImage}" width="200" height="250" src="#" alt="#">-->
<!--                <br/>-->
<!--                <img th:src="${discussion.discussionMovie.movieImage}" width="200" height="250" style="margin: 10px">-->
<!--                    <title th:text="${discussion.discussionMovie.movieTitle}">Placeholder</title>-->
<!--                    <rect width="100%" height="100%" fill="#55595c"/>-->
<!--                </img>-->
<!--            </div>-->

<!--            <div th:if="${discussion.discussionMovie} == null" class="col-auto d-none d-lg-block">-->
<!--                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 아아아" preserveAspectRatio="xMidYMid slice" focusable="false">-->
<!--                    <title th:text="${discussion.discussionMovie.movieTitle}">Placeholder</title>-->
<!--                    <rect width="100%" height="100%" fill="#55595c"/>-->
<!--                    <text x="50%" y="50%" fill="#eceeef" dy=".3em" th:text="${discussion.discussionMovie.movieTitle}">-->
<!--                        아아아-->
<!--                    </text>-->
<!--                </svg>-->
<!--            </div>-->
            <!--여기까지가 문제다-->


        </div>
    </div>
</div>




<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->

</body>
</html>
